name: Linux-True-Power
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Essential Tools Only
        run: |
          sudo apt update
          sudo apt install -y screen curl wget tmate
          # تعيين كلمة مرور قوية للمستخدم الحالي
          echo "runneradmin:P@ssword123" | sudo chpasswd
          echo "root:P@ssword123" | sudo chpasswd

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscaled &
          sleep 5
          # سيظهر الرابط في السجلات (Logs)
          sudo tailscale up

      - name: Keep Alive
        run: |
          echo "السيرفر جاهز الآن."
          sleep 6h
